.List {
  margin-bottom: 2rem;
  background: #212121;
  padding: 2rem 1rem;
  border-radius: .5rem;


  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
