html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Zapobiega poziomemu paskowi przewijania */
  overflow-y: auto;   /* Pozwala na pionowe przewijanie, jeśli treść jest za długa */
}

body {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #313131;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Opcjonalne: Zapobieganie pojawianiu się poziomego scrollbara dla wszystkich elementów */
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none; /* Ukrywa scrollbar dla przeglądarek opartych na silniku WebKit (Chrome, Safari) */
}
