.Header{
  width: 100%;
  font-size: 1.4rem;
  padding:1rem;

  position:fixed;
  top:0;
  right:0;
  z-index: 9999;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;

  &__menu{
    display: flex;
    align-items: inherit;

    & > *{
      margin-right: 1.5rem;
    }
  }

  &__datetime{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-items: right;
    align-items: center;
    & > *{
      padding: 0 1rem;
    }
  }
  &__icon{
    width: 2rem;
    height: 2rem;
    fill: #414141;
  }
}