.BedsideLampController {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;

  &__button {
    width: 100%;
    height: 100%;
    border: none;
    background: #fcf7e1CC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 15px;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__icon {
    width: 55px;
    height: 55px;
    fill: #bbac86;
  }

  &__info{
    color: #bbac86;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    z-index: 2;
    top: 1rem;
    left: 1rem;
    font-family: inherit;

    &--off{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: rgba(51, 51, 51, 0.6);
    }

    &--on{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: rgba(51, 51, 51, 0.6);
      z-index: 20;
    }

    &__brightness{
      font-size: 2rem;
      font-weight: 700;
    }

    &__name{
      color: #535353;
      font-weight: 700;
      font-size: 1.4rem;
    }

    &__room{
      color: #777777;
    }
  }

  &__settings{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    line-height: 0.5rem;
    color: #777777;
  }

  &__slider {
    width: 100%;
    height: 100%;
    appearance: none;
    background: none;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 20px;
      height: 20px;
      background-color: #000;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      height: 5px;
      background: #ddd;
    }
  }
}


.CustomRangeContainer {
  position: relative;
  width: 100%; /* Pełna szerokość kontenera */
  height: 100%; /* Pełna wysokość kontenera */
  background: #fdfaf3; /* Kolor tła dla nieprzesuniętej części */
  border-radius: 10px; /* Zaokrąglenie kontenera */
  overflow: hidden; /* Ukrycie nadmiaru zawartości */
}

.CustomRange {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fcf7e1CC; /* Kolor przesuniętej części */
  transition: width 0.1s ease; /* Animacja podczas zmiany wartości */
  border-right: 2px solid #bbac86;;
  border-radius: 10px; /* Zaokrąglenie przesuniętej części */
}

.CustomRangeInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Ukrycie natywnego suwaka */
  cursor: pointer; /* Dodanie wskaźnika kursora */
}

